# Libraries
ipython
ipykernel
ipympl
numpy
matplotlib
pandas
scikit-learn
scipy
seaborn
plotly
opencv-python

# Optional for Pandas
openpyxl
tabulate
tables

# Testing
pytest
pre-commit
pytest-benchmark

# Linting
flake8
pylint
mypy
autopep8
isort
black
